<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <title>Dream Clinic</title>
  </head>
  <body>
    
 
     <%-include('./partials/user-header')%> 
  
    <% if (error) {%>
      <div class="alert alert-danger">
        <%= error %>
      </div>
    <% } %>

    <div class="container">
      <h1>Заявки с формы</h1>

      <% if (requests.length>0) { %>
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead class="table-light">
                <tr>
                  <th class="w-10">Дата</th>
                  <th class="w-25">ФИО</th>
                  <th class="w-15">Телефон</th>
                  <th class="w-50">Проблема</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i=0; i<requests.length; i++ ) { %>
                  <tr>
                    <td>
                      <%= requests[i].created_at %>
                    </td>
                    <td>
                      <%= requests[i].name %>
                    </td>
                    <td>
                      <%= requests[i].phone %>
                    </td>
                    <td>
                      <%= requests[i].description %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
        </div>
      <% } else { %>
        <div class="card">No requests</div>
      <% } %>

    </div>
  </body>
</html>
